.appHeading {
    font-size: 200%;
    font-style: oblique;
    font-family: "Book Antiqua", cursive;
    color: darkblue;
    text-align: center;
}

.center {
    text-align: center;
    padding: 10px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    width: 70%;
}

body {
    margin: 20px;
    padding: 20px;
    background: url("images/fzm-seamless.notebook.texture-20.png") repeat-y center;
}

.spacedOut {
    letter-spacing: 10pt;
}

.largeFont {
    font-size: 300%;
}

.footer {
    text-align: center;
}

.link a {
    color: #aaaaaa;
    text-decoration: none;
    font-family: tahoma, sans-serif;
}

input {
    background: transparent;
    border: none;
    text-align: center;
}

.wordGrp {
    float: right;
}

.startOverButton {
    width: 20px;
    height: 20px;
    vertical-align: top;
    cursor: alias;
}
