<!DOCTYPE html>
<html lang="en" ng-app="Word-Up">
<head>
    <meta charset="UTF-8"/>
    <script src="scripts/stringCustomisations.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scripts/jquery-ui-1.10.3.custom.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/localStorageModule.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/dict.js"></script>
    <script src="scripts/directives.js"></script>
    <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet" media="screen">
    <link href="css/styles.css" rel="stylesheet" media="screen">

</head>
<body ng-controller="DictCtrl">

<h2 class="appHeading">Word-Up</h2>
<div class="wordGrp">
    <p><span ng-repeat="word in correctGuesses">{{word}}, </span></p>
</div>

<div class="container">
    <div id="baseWord" class="center spacedOut largeFont">
        <span>{{baseWord}}</span> <span ng-click="startOver()"><img class="startOverButton" src="css/images/Updates-Available-updates-icon.png"></span>
    </div>
    <div class="center">
        <input wordup-input ng-model="inputWord" class="largeFont">
    </div>
</div>

<div class="footer">
    <span class="link"><a href="http://www.twitter.com/jayeshs">@JayeshS</a></span>
</div>
</body>
</html>