<!DOCTYPE html>
<html lang="en" ng-app="Word-Up">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="scripts/jsCustomisations.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scripts/jquery-ui-1.10.3.custom.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/localStorageModule.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/dict.js"></script>
    <script src="scripts/directives.js"></script>
    <link href="css/jquery-ui-1.10.3.custom.css" rel="stylesheet" media="screen">
    <link href="css/styles.css" rel="stylesheet" media="screen">

</head>
<body ng-controller="DictCtrl">


<div class="container">
    <h2 class="appHeading">Word-Up</h2>

    <p class="help">How many words can you make using the following letters?</p>

    <div id="baseWord" class="center spacedOut largeFont">
        <div wordup-baseword>{{baseWord}}</div>
        <div>
            <img ng-click="shuffle()" class="imgButton" src="img/shuffle.png">
            <img ng-click="reset()" class="imgButton" src="img/restart.png">
        </div>

    </div>
    <div class="center">
        <input wordup-input ng-model="inputWord" class="largeFont">
    </div>
    <div class="center scoreboard" wordup-scoreboard></div>
</div>

<div id="soln" wordup-solution></div>
<!--<button ng-click="attempt.solve()">Give up!</button>-->
<div class="footer">
    <span class="link"><a href="http://www.twitter.com/jayeshs">@JayeshS</a></span>
</div>
</body>
</html>